:root {
    --grey: rgba(217, 217, 217, 1);
    --blue: rgba(142, 218, 252, 1);
    --green: rgba(213, 249, 186, 1);
    --grey-light: rgba(217, 217, 217, 1);
}

#app {
    height: 100vh;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(180deg, #009688 18%, #EAEAEA 18.01%);

}

.wrapper {
    height: calc(100vh - 60px);
    width: 100%;

}


/* LITTLE HEADER */

.little-header {
    height: 50px;
    background-color: var(--grey);
}

.img-user {
    width: 40px;
}

.col-8 .little-header p {
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.little-header i {
    color: rgb(94, 94, 94);
}

/* LITTLE HEADER */

/* LITTLE MAIN contacts list */

.little-main {
    height: calc(100% - 50px);
}

.circle-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: var(--blue);
}

.notification-settings {
    background-color: var(--blue);
    height: 70px;
}

.notification-settings p {
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.img-contact {
    width: 50px;
}

.find-chat {
    height: 40px;
}

.contacts {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 110px);

}

.active {
    background-color: var(--grey);
}

/* LITTLE MAIN chat */

.col-8 input {
    height: 40px;
}

.col-8 .little-main .p-2 {
    font-size: 20px;
    color: rgb(94, 94, 94);
}

.text-input {
    background-color: var(--grey-light);
}

.chat {
    background-image: url(img/mine.jpg);
    overflow-y: auto;
}

.msg {
 width: 300px;
 border-radius: 10px;
 padding: 10px;
}

.sent {
background-color: var(--green);
margin-left: auto;
}

.received {
background-color: white;
margin-right: auto;
}
